body,a{color:#4d4d4d;}
.fc01{color:#b0b0b0;}
.fc02,.fc02 a{color:#a4a4a4;font-size:14px;}
.fc03,.fc03 a,.fc04,.fc04 a,.fc11 a{color:#7dbfbd;}
.fc05{color:#4d4d4d;}
.fc06,.fc07{color:#b0b0b0;}
.fc08{color:#ffffff;}
.fc00,.fc09{color:#ffffff;}
.fc10{color:#dcdcdc;}
.bdc0{border-color:#dcdcdc;}
.bdc1{border-color:#ffffff;}
.bdc9t{border-top-color:#ffffff;}
.bdc9r{border-right-color:#ffffff;}
.bdc9b{border-bottom-color:#ffffff;}
.bdc9l{border-left-color:#ffffff;}
.bgc0,.bgc9:hover,.bgc9.js-bgc9-hover{background-color:#eeeeee;}
.bgc1{background-color:#ffffff;}
.bgc2{background-color:#7dbfbd;}
.bgp0{background-image:url(http://b.bst.126.net/newpage/style/nblog/4178/img/-1.gif);}
.nb-body{background:url(http://img.bimg.126.net/photo/Er6sTWtlRxTb5Zv5yjjfRw==/5785436671311227036.jpg) #ffffff repeat left top ;}
.nb-bar{background:none #7dbfbd repeat left top;}
.nb-top{background:url(http://img.bimg.126.net/photo/awG15mtZpkFFZX01SoV7fw==/5771644397452457736.jpg) transparent no-repeat center bottom;}
.nb-top .h{height:162px;}
.nb-top .t{top:74px;left:61px;font-family:Î¢ÈíÑÅºÚ;color:#8e8e8e;}
.nb-top .n{font-size:32px;}
.nb-top .d{font-size:18px;}
.nb-nav .wkg{background:url(http://img.bimg.126.net/photo/HY9TCUr0roqICi8rrxVLUA==/5771644397452457735.jpg) transparent no-repeat center top;}
.nb-nav .h{height:45px;line-height:45px;}
.nb-nav .c{margin-left:56px;}
.nb-nav .i{width:71px;font-weight:normal;font-size:12px;}
.nb-nav .i:hover{font-weight:normal;font-size:12px;color:#ffffff;background:url(http://img.bimg.126.net/photo/Y8JX5HysdOtPWpErbgv2Zw==/5771644397452457774.jpg) transparent no-repeat center center;}
.nb-nav .selected{background:url(http://img.bimg.126.net/photo/Y8JX5HysdOtPWpErbgv2Zw==/5771644397452457774.jpg) transparent no-repeat center center;}
.nb-nav .selected .i,.nb-nav .selected .i:hover{font-weight:normal;font-size:12px;color:#ffffff;background:none;}
.nb-smt{display:block;background:url(http://img.bimg.126.net/photo/E4od6oqDZvPthgAlhap1KA==/5771644397452457732.jpg) transparent repeat center top;}
.nb-smt .h{height:59px;}
.nb-cnt .wkg{background:url(http://img.bimg.126.net/photo/ihVbMkpHgTBWcfUfvahIew==/5785436671311227037.jpg) transparent repeat center top;}
.nb-cnt .wl{width:50px;}
.nb-cnt .lg{display:block;background:none transparent repeat left top;}
.nb-cnt .wr{width:50px;}
.nb-cnt .rg{display:block;background:none transparent repeat right top;}
.nb-cnt .wc{margin:0 33px 0 28px;min-height:560px;_height:560px;}
.nb-fot{background:url(http://img.bimg.126.net/photo/JxsNNiPXEdUE9vQXwYblRQ==/5771644397452457733.jpg) transparent no-repeat center top;}
.nb-fot .h{height:162px;}
.nb-fot .k{padding-top:76px;}
.nb-mdl{margin:10px 5px;border:1px none #aaaaaa;}
.nb-mdl .th{height:26px;}
.nb-mdl .bh{height:7px;}
.nb-mt .tm{top:0;right:10px;line-height:25px;}
.nb-mt .tc{margin:0 10px 0 10px;height:26px;line-height:25px;font-size:14px;font-weight:bold;background:none transparent repeat-x center top;}
.nb-mt .tc .thide{font-size:12px;}
.nb-mt .tl{width:10px;background:none transparent no-repeat left top;}
.nb-mt .tr{width:10px;background:url(http://img.bimg.126.net/photo/InCRWfU4AoEVm8w-fEwwww==/5776710947033260134.jpg) transparent repeat-y right top;}
.nb-mc .cc{margin:0 10px 0 10px;background:none transparent repeat center top;}
.nb-mc .cl{width:10px;background:none transparent repeat-y left top;}
.nb-mc .cr{width:10px;background:url(http://img.bimg.126.net/photo/InCRWfU4AoEVm8w-fEwwww==/5776710947033260134.jpg) transparent repeat-y right top;}
.nb-mb{display:block;}
.nb-mb .bc{margin:0 10px 0 10px;background:none transparent repeat-x center bottom;}
.nb-mb .bl{width:10px;background:none transparent no-repeat left bottom;}
.nb-mb .br{width:10px;background:url(http://img.bimg.126.net/photo/InCRWfU4AoEVm8w-fEwwww==/5776710947033260134.jpg) transparent repeat-y right bottom;}
.wsy,.wkg{width:1004px;margin:0px auto;}
.bdc9t{border-top-color:#ffffff;}
.bdc9r{border-right-color:#ffffff;}
.bdc9b{border-bottom-color:#ffffff;}
.bdc9l{border-left-color:#ffffff;}
.bgc1{background-color:#ffffff;}
.nb-mdl-n{color:#818181;}
.nb-mdl-n a{color:#818181;}
.nb-mdl-n .fc02,.nb-mdl-n  .fc02 a{color:#8ac7ce;font-size:12px;}
.nb-mdl-n .fc03,.nb-mdl-n .fc03 a,.nb-mdl-n .fc04,.nb-mdl-n .fc04 a,.nb-mdl-n .fc11,.nb-mdl-n .fc11 a{color:#8ac7ce;},.nb-mdl-n .fc11 a{color:#8ac7ce;}
.nb-mdl-n .fc05{color:#818181;}
.nb-mdl-n .fc06,.nb-mdl-n .fc07{color:#bfbfbf;}
.nb-mdl-n {margin:10px 5px;border:1px none #aaaaaa;}
.nb-mdl-n .th{height:40px;}
.nb-mdl-n .bh{height:3px;}
.nb-mdl-n .nb-mt .tm{top:0;right:10px;line-height:43px;}
.nb-mdl-n .nb-mt .tc{margin:0 10px 0 10px;height:40px;line-height:43px;font-size:12px;font-weight:bold;background:url(http://img.bimg.126.net/photo/cb-LnuUWi3XGnnHUBrYq7w==/5776710947033260118.jpg) transparent repeat-x center bottom;}
.nb-mdl-n .nb-mt .tc .thide{font-size:12px;}
.nb-mdl-n .nb-mt .tl{width:10px;background:none transparent no-repeat left top;}
.nb-mdl-n .nb-mt .tr{width:10px;background:none transparent no-repeat right top;}
.nb-mdl-n .nb-mc .cc{margin:0 10px 0 0px;background:none transparent repeat center top;}

.nb-mdl-n .nb-mc .cr{width:10px;background:none transparent repeat-y right top;}
.nb-mdl-n .nb-mb{display:block;}
.nb-mdl-n .nb-mb .bc{margin:0 10px 0 0px;background:none transparent repeat-x center bottom;}

.nb-mdl-n .nb-mb .br{width:10px;background:none transparent no-repeat right bottom;}
.nb-mdl .mdl_t_t{display:none;}
.nb-mdl .mdl_t_t_x a{display:none;}
.nb-mdl-n .mdl_t_t{display:block;}
.nb-mdl-n .mdl_t_t_x a{display:block;}
.nb-top .d{text-align:left;text-indent:0.2em;padding-left:0;}